$bp: 768px;

.header {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary);
  background: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
}

.label {
  font-size: 1rem;
  font-weight: 600;
  color: var(--color-white);
  margin-bottom: 1rem;
}

.search {
  display: flex;
  width: calc(100vw - 2rem);

  @media (min-width: $bp) {
    max-width: 30rem;
  }

  input[type='search'] {
    display: flex;
    width: 100%;
    height: 3rem;
    padding: 0 1rem;
    border: none;
    border-radius: 0.5rem 0 0 0.5rem;
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--color-white);
    background-color: rgba(255, 255, 255, 0.2);

    &:hover,
    &:focus,
    &:active {
      background-color: rgba(255, 255, 255, 0.3);
      outline: 2px solid var(--color-primary);
    }
  }

  button {
    height: 3rem;
    padding: 0 1rem;
    margin-left: 2px;
    border: none;
    border-radius: 0 0.5rem 0.5rem 0;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--color-white);
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;

    &:hover,
    &:focus,
    &:active {
      background-color: rgba(255, 255, 255, 0.3);
      outline: 2px solid var(--color-primary);
    }

    svg {
      display: block;
    }
  }
}
