$bp: 768px;

.container {
  height: calc(100dvh - 5rem);
  width: 100%;
  padding: 1rem;
  background: var(--color-primary);
  background: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
  overflow-y: auto;
  overflow-x: hidden;

  @media (min-width: $bp) {
    padding: 2rem;
  }
}
